{% extends 'shop/base.html' %}

{% block content %}
<div class="col-3"></div>
    <div class="col-6">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <div class="card text-dark">
                <div class="card-header">
                    <h3 class="card-title">
                        Создать новый пароль
                    </h3>
                </div>
                <div class="card-body">
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-dark">Отправить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}