{% extends 'shop/base.html' %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ title }}</h1>
    </div>
</section>
<div class="row">
    <div class="card mb-4 box-shadow">
        {% include 'shop/includes/inc_cat.html' %}
                <h4 class="card-title text-dark">{{ object.price_for_one }} руб.</h4>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-dark btn-lg px-4 gap-3">Заказать</button>
                <button type="button" class="btn btn-dark btn-lg px-4">
                    Задать вопрос владельцу {{ object.owner }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}